/* Structure */
.example-container {
	display: flex;
	flex-direction: column;
	min-width: 300px;
  }
  
  .example-header {
	min-height: 64px;
	padding: 8px 24px 0;
  }
  
  .mat-form-field {
	font-size: 14px;
	width: 100%;
  }
  
  .mat-table {
	overflow: auto;
	max-height: 500px;
  }

  .no-activities-message {
	  padding: 10px;
	  font-size: 14px;
	  font-style: italic;
  }

.mat-column-activityActions {
	flex: 0 0 60px !important;
	cursor: pointer;
}

.add-activity-action {
	padding: 20px;
}

.activities-slots-list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.activities-slots-list li {
	width: 100%;
}

.mat-column-activityName {
	flex: 0 0 200px !important;
	font-weight: bold;
}
