<mat-card>
	<mat-card-header>
	  <mat-card-title>
		<h2>Step 2: Add activities of your event</h2>
	  </mat-card-title>
	  <mat-card-subtitle>Provide the number of slots for each event so participants can pick them up</mat-card-subtitle>
	</mat-card-header>
	<button mat-raised-button color="primary" (click)="addActivity()">Add activity</button>
	<mat-card-content>
				  <div class="no-activities-message" *ngIf="!dataSource.data.length">
					  <p>No activities found for this event.</p>
				  </div>
				  <mat-table #table [dataSource]="dataSource" *ngIf="dataSource.data.length">
					
					<!-- Position Column -->
					<ng-container matColumnDef="name">
					  <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
					  <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
					</ng-container>
				
					<!-- Name Column -->
					<ng-container matColumnDef="activityDate">
					  <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
					  <mat-cell *matCellDef="let element"> {{element.activityDate}} </mat-cell>
					</ng-container>
				
					<!-- Weight Column -->
					<ng-container matColumnDef="duration">
					  <mat-header-cell *matHeaderCellDef> Duration </mat-header-cell>
					  <mat-cell *matCellDef="let element"> {{element.duration}} </mat-cell>
					</ng-container>
				
					<!-- Color Column -->
					<ng-container matColumnDef="numberOfSlots">
					  <mat-header-cell *matHeaderCellDef> Slots# </mat-header-cell>
					  <mat-cell *matCellDef="let element"> {{element.numberOfSlots}} </mat-cell>
					</ng-container>
				
					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
				  </mat-table>
	</mat-card-content>
	<mat-card-actions>
	</mat-card-actions>
	<mat-card-footer></mat-card-footer>
  </mat-card>