<h1 mat-dialog-title>Enter you details</h1>
<form [formGroup]="participantForm" (ngSubmit)="submitForm(participantForm.value)" novalidate>
	<div mat-dialog-content>
		<mat-form-field class="form-field-full-width">
			<input matInput placeholder="Name" formControlName="participantName">
			<mat-error>Please enter activty name</mat-error>
		</mat-form-field>
		<mat-form-field class="form-field-full-width">
			<input matInput placeholder="Email" formControlName="participantEmail">
			<mat-error *ngIf="participantForm.controls['participantEmail'].invalid">{{getEmailErrorMessage()}}</mat-error>
		</mat-form-field>
		<mat-form-field class="form-field-full-width">
			<span matPrefix>+1 &nbsp;</span>
			<input matInput placeholder="Telephone" formControlName="participantPhone">
			<mat-error>Please enter a phone number</mat-error>
		</mat-form-field>
		<mat-form-field class="form-field-full-width">
			<textarea matInput placeholder="Leave a comment" formControlName="participantNotes"></textarea>
		</mat-form-field>
	</div>
	<div mat-dialog-actions>
		<button mat-raised-button color="primary" type="submit">Save</button>
		<button mat-raised-button mat-dialog-close color="warn" >Cancel</button>
	</div>
</form>
