<mat-card>
  <mat-card-header>
    <mat-card-title>
    	<h2>Welcome to Slot me app</h2>
    </mat-card-title>
    <mat-card-subtitle>One place to manage your event management.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
	<mat-horizontal-stepper>
		<mat-step label="Create an event">
		</mat-step>
		<mat-step label="Add activities to the event">
		</mat-step>
		<mat-step label="Publish details to everyone">
		</mat-step>
	</mat-horizontal-stepper>
	<p>It's that simple to use this application. Now its time to create an event to let your participant choose the slots.</p>
  </mat-card-content>
  <mat-card-actions>
	<button mat-raised-button (click)="createEvent()">Create</button>
  </mat-card-actions>
</mat-card>
